:root {
  --orange-color: #EB4F0C ;
  --turqoi-color: #2ECEC2;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-image: url('./img/back-hahia2.PNG');
  background-size: cover; */
  /* background-position: center; */
}

#btn-login {
  color: var(--orange-color) !important;
  
  border-color: var(--orange-color)  !important;
  font-weight: 600;
  --bs-btn-hover-bg: none;
  --bs-btn-active-bg: none;
}

nav.bg-body-tertiary {
  background-color: #ebeaea !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  color: #676767 !important;
  font-weight: 700 !important;
}
.card-f {
  background: #c79a9a;
  border: 1px solid #E0E0E0;
  box-shadow: 0 4px 18px #0000001a;
  border-radius: 6px;
}

.btn-primary {
  --bs-btn-bg: var(--orange-color)  !important;
  --bs-btn-hover-bg: var(--orange-color)  !important;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 57px;
  border-radius: 20px;
  background-color: #ebeaea;
  padding: 40px;
}

.container-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 57px;
  border-radius: 20px;
  background-color: #ebeaea;
  padding: 40px;
  margin: 20px 152px 100px 152px;
}

.photo-home {
  flex: 1;
  background-image: url(./img/two\ men.png);
  background-size: contain;
  background-color: #ebeaea;
  
 
  background-repeat: no-repeat;
}


.photo-hands {
  flex: 1;
  background-image: url(./img/Two\ hands.png);
  background-size: contain;
  /* background-color: #ebeaea; */
      padding: 10% 8%;
  background-repeat: no-repeat;
}


.text {
  flex: 2;
}

.btn-choice {
  position: relative;
  right: 42px;
  top: 19px;
}
.btn-trouve {
  color: white;
  background-color: var(--orange-color);
  border-radius: 6px;
  border: none;
  padding: 9px 18px 9px 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui;
}
.btn-perte {
  color: white;
  background-color: var(--turqoi-color);
  border-radius: 6px;
  border: none;
  padding: 9px 18px 9px 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui;
}



.text-h5 h5 {
  font-size: 2.3rem;
}
.number-step {
  color: var(--orange-color);
  font-size: 27px;
  font-weight: 600;
  font-family: system-ui;
}

.contain-steper{
  margin: auto;
  width: fit-content;
  position: relative;
  z-index: 9999;
}

.step{
  width: 12px;
  height: 490px;
  background: #dddddd;
  position: absolute;
  z-index: -1;
  left: 8%;
  border-radius: 79px;
}
.stepers{
  /* position: absolute; */
  margin-left: -42px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.step-contain{
  display: flex;
  gap: 15px;
}
.number-contain{
  background: #ebebeb;
  width: fit-content;
  padding: 20px 35px;
  border-radius: 100px;
  border: white solid 6px;
  align-self: flex-start;
}
.number-contain >p{
  font-size: 30px;
  font-weight: 500;
  color: #ff6000;
  margin: auto;
}
.text-contain{
  position: absolute;
  left: 7rem;
  width: 320px;
}
.text-contain-reverse{
  position: absolute;
  left: -21rem;
  width: 320px;
}

h3{
  font-size: 24px;
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer-class {
  width: 100%;
}
.social-icons {
  width: 60%;
}
.question-form {
  width: 18%;
}
.text-light {
  border-radius: 12px;
}
.rs {
  font-size: 11px;
    color: #FD5444;
    font-family: unset;
}
.question {

}
#qu-input {
  width: 151%;
    background-color: #ebeaea;
    border: 1px solid;
}
.bt-class {
  position: relative;
  left: 72%;
}

.text-f  {
  position: relative;
  top: 55%;
  color: #4E4E4E;
  font-size: smaller;
}
